.card {
    border: 2px solid #6cb426;
}
.captureCard {
    color: #6cb426;
}

.footerCard {
    padding: 5px;
}
.captionImg{
    height: 50px;
    padding: 10px;
}
.tagCard{ 
    color: #ffffff;
    background: #6cb426;
    display: inline-block;
    border: 2px solid #27a2f9;
    padding: 3px;
    border-radius: 25px;
    margin: 3px;
}

.tagCard:hover {
    color: #6cb426;
    background: #ffffff;
}

.footerCard {
    height: 100px;
    background: #e1e5e8;
}