.FormLabel {
    color: #6cb426;
    font-size: 15px;
}

.SignUpButton {
    background-color: #6cb426 !important;
    border: 0px;
}

.SignUpButton:hover {
    background-color: white !important;
    border: 1px solid #6cb426;
    color: #6cb426;
}